/* Assignment 10 */
/* Bookmarker */

*{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "PT Sans Caption", sans-serif;
}

.form{
    border-top: dotted 1px black;
    border-bottom: dotted 1px black;
}